body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

main {
    background-color: #fff;
    padding: 80px 20px 20px; /* padding added to compensate for fixed header */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
}

section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.image {
    width: 150px;
    border-radius: 50%;
}
span{
    display: block;
}
.menu-icon{
    position: fixed;
}